<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form action="/auth/register" method="POST">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" name="name" />
        </div>

        <div class="form-group">
          <label for="email">Email Address</label>
          <input type="email" class="form-control" id="email" name="email" />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" />
        </div>

        <div class="form-group">
          <label for="passwordConfirm">Confirm Password</label>
          <input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" />
        </div>

        <div class="form-group">
          <label for="number">ID</label>
          <input type="number" class="form-control" id="idConcentrador" name="idConcentrador" />
        </div>

        <button type="submit" class="btn btn-dark">Register User</button>
      </form>
    </div>
  </div>

  {{#if message}}
  <h4 class="alert alert-danger mt-4">{{message}}</h4>
  {{/if}}
</div>
